@use "./variables" as v;

// Export variables so TypeScript can read the Hex codes for Icons
:export {
  success: v.$success;
  error: v.$danger;
  primary: v.$color-primary;
}

// Define the visual style of the Toast box
.toastBase {
  background-color: v.$color-bg-card !important;
  color: v.$color-text-main !important;
  font-family: v.$font-main !important;

  border: 1px solid rgba(v.$gray-200, 0.1) !important;
  border-radius: v.$radius-md !important;
  box-shadow: v.$shadow-md !important;

  backdrop-filter: blur(8px);
}
